<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <title>Florist</title>
  </head>
  <body>
    <h1>Request</h1>
    <form >
      <input type="text" id="method" placeholder ="method"></input>
        <input type="text" id="path" placeholder ="path"></input>
          <input type="text" id="body" placeholder ="body"></input>
          <button type="button" name="button">Send</button>


    </form>
  </body>
</html>
